body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: url(./Assets/background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: white;
}

.information{
    padding-left: 1.5em;
}

.content{
    width: fit-content ;
    background:#7f7f7f;
    background:rgba(0,0,0,0.5);
    display: flex;
    border-radius: 8%;
    height: fit-content;
    padding: 1em;
}

.display-picture{
    border-radius: 50%;
    border: 3px solid skyblue;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.time-div{
    display: flex;
    justify-content: center;
    width: 32em;
    margin: 1em;
    padding: 0.5em;
}

.time{
    background-color: black;
    padding: 0.5em;
    width: 15em;
    margin: 0.5em;
    box-shadow: rgba(241, 231, 231, 0.16) 0px 3px 6px, rgba(241, 230, 230, 0.23) 0px 3px 6px;
}

button{
    background-color: transparent;
    border: 1px solid lightblue;
    color: white;
    padding: 1em;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    transform-origin: top;
}

button:hover{
    background-color: rgb(231, 156, 15);
    color: black;
}

.details{
    background-color: black;
    display: flex;
    width: 32em;
    margin: 1em;
    padding: 0.5em;
    box-shadow: rgba(241, 231, 231, 0.16) 0px 3px 6px, rgba(241, 230, 230, 0.23) 0px 3px 6px;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn-div{
    display: flex;
    justify-content: center;
    display: flex;
    width: 32em;
    margin: 1em;
    padding: 0.5em;
}

@media (max-width: 768px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 95%;
    }

    .btn-div, .details{
        width: 90%;
        margin: 0.5em;
    }

    .content{
        width: 80%;
        margin: auto auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .time-div{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 0.5em 0.5em 0.5em;
        padding: 0;
    }

    .time{
        width: 90%;
        margin: 0.5em 0 0 0;
    }

    .information{
        width: 90%;
        padding-left: 0;
    }

    .second{
        margin-top: 1em;
    }
}